
p {
    color: yellow;
    border: 1px solid white;
    background-color: orangered;
    z-index: 2;
    overflow: hidden;
}

h1{
    text-align: center;
}
 
.beerus {
    position: absolute;
    left: 10px;
    z-index: -1;
}

.button {

  border-radius: 2px;
  background-color: #f4511e;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 60px;
  max-width: 400px;
    
}

.button span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



.button {
    position: relative;
    border-radius: 50%;
    border: 1px solid white;
    font-size: 20px;
    color: yellow;
    padding: 5px;
    width: 140px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: white;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 140%;
    margin-left: -10px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
