body{
    background-color: bisque
}
h1 {
    text-align: center;
    color: black;
    font-size: 80px;
    font-family:"Times New Roman", sans-serif;
    border-bottom: dotted;
}

h2{
    font-size: 60px;
    text-align: center;
}

h3{
    font-size: 50px;
    margin-left: ;
    padding-left: 20px;
}

.yellow{
    color: #e6e600;
      background-color: #ff8080;
     -webkit-text-stroke: 1px black;
   
}

.yellow:hover{
    background-color:;
}

.orange{
   color: orange;
     background-color: #ffe680;
    -webkit-text-stroke: 1px black;
}

.orange:hover{
    background-color:;
}

.red{
    color: orangered;
    background-color:  #ffc266;
    -webkit-text-stroke: 1px black;
}
    
.red:hover{
    background-color:;
}


p {
    font-size: 30px;
    border-bottom: ;
    padding: 10px;
    margin-top: -10px;

}

p:hover{
    background-color: antiquewhite;    
}

.banner{
    background-color:#EDC75C;
    padding-bottom: 4px;
    margin-bottom: -4px
}
.dyellow {
  transition: background-color 0.7s ease;
  background-color: lavenderblush;
    border-top: solid 0px; 
    border-left: dotted;
    border-right: solid 1px ;
    border-bottom: solid 1px;
    margin-bottom:20px;
    margin-top: 4px;
   

}

.dyellow:hover {
  background-color: ;
}

.dorange {
  transition: background-color 0.7s ease;
  background-color: lavenderblush;
     border-top: solid 0px; 
    border-left: dotted;
    border-right: solid 1px ;
    border-bottom: solid 1px;
    margin-bottom:-20px;
    margin-top: 50px;
  

}

.dorange:hover {
  background-color: ;
}

.dred {
  transition: background-color 0.7s ease;
  background-color: lavenderblush;
    border-top: solid 0px; 
    border-left: dotted;
    border-right: solid 1px ;
    border-bottom: solid 1px;
    margin-bottom:220px;
    margin-top: 50px;
  

}

.dred:hover {
  background-color: ;
}



a:link, a:visited {
    background-color: goldenrod;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}

ul{
    position: relative;
    list-style-type: none;
    margin-left: 100px;
    margin-top: -65px;
    height: 70px;
    width: 1000px;
    
}

li{
    transition: background-color 0.5s ease;
  background-color: darkorange;
    float: left;
    overflow: hidden;
    font-size: 30px;
    border: 1px solid black;
}

li a:hover:not(.active) {
    text-decoration: none;
    border: 1px solid;
    font-size: 35px;
    background-color: orange;
}


.heat{
    margin-top: 10px;
    margin-left: 20px ;
    height: 100px;
}


div{
    float: right;
    width: 540px;
}

footer{
    float: left;
    margin-left: 30px;
    margin-top: 0px;
    display: block;
    font-size: 30px; 
   margin-top: 40px;
    padding-bottom: 30px;
   
}

.foot:hover{
    background-color: orange;
}

.foot1:hover{
    background-color: orange;
}

.foot2:hover{
    background-color: orange;
}

.foot3:hover{
    background-color: orange;
}


.nav1{
    margin-right: 10px;
    
}

.nav2{
    margin-right: 10px;
}

.nav3{
    margin-right: 10px;
}
.nav4{
    margin-right: 10px;
}
.nav5{
    margin-right: 10px;
}

.topgl{
    border: solid 1px;
    background-color: #ffc266;
}

.middlegl{
    border: solid 1px;
    background-color: #ffc266;
}

.bottomgl{
    border: solid 1px;
    background-color: #ffc266;
}

.last{
    padding-top: 20px;
    margin-left: 80px;
    border: solid 1px; 
    margin-top: 30px;
    background-color:  #ffc266;
}

.leftside{
   margin-right: 200px;
    border: solid 1px;
    background-color: lavenderblush;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 20px;
    position: absolute;
}

th{
    padding-right: 20px;
    background-color: orangered;
    color: yellow;
    border: 1px solid black;
}
td{
   padding-right: 20px;
    border: 1px solid;
}

@media only screen and (max-width: 600px)  {
 
    body{
        float: left;
    }
}


