body {
    font-size: 18px;
    line-height: 1.4;
    min-width: 1000px;
}
body{
    font-family:helvetica;
    background-color:darkseagreen;
 
}
h1{
background-image: url(http://www.publicdomainpictures.net/pictures/150000/velka/banner-header-tapete-1450024026hsQ.jpg);
color:lightgoldenrodyellow;
font-size: 100px;
-webkit-text-stroke: 4px black;
text-align: center;
}

h2{
    color:indianred;
font-size: 100px;
-webkit-text-stroke: 4px black;
text-align: center;
}

p{
    margin-bottom: 300px;
}
p.test1 {
    width: 140px; 
    border: 1px solid #000000;
    word-break: keep-all;
    padding: 20px;
    background-color: antiquewhite;
}



img {
    float: right; 
    margin: 0px 287px 0px 0px;
    border: 1px solid #000000;
    position: 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 28px 30px;
    text-decoration: none;
    
}

li a:hover:not(.active) {
    background-color: orangered;
}

.active {
    background-color: darkgreen;
}


li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}